In [4]:
# Alexis Perumal, 11/24/19, HeroesOfPymoli.py
# UCSD Data Science Bootcamp, HW4 - Pandas, Ex. 1
#

# Pandas Homework - Pandas, Pandas, Pandas

## Background

The data dive continues!

Now, it's time to take what you've learned about Python Pandas and apply it to new situations. For this assignment, you'll need to complete **one of two** (not both)  Data Challenges. Once again, which challenge you take on is your choice. Just be sure to give it your all -- as the skills you hone will become powerful tools in your data analytics tool belt.

### Before You Begin

1. Create a new repository for this project called `pandas-challenge`. **Do not add this homework to an existing repository**.

2. Clone the new repository to your computer.

3. Inside your local git repository, create a directory for the Pandas Challenge you choose. Use folder names corresponding to the challenges: **HeroesOfPymoli** or  **PyCitySchools**.

4. Add your Jupyter notebook to this folder. This will be the main script to run for analysis.

5. Push the above changes to GitHub or GitLab.

## Option 1: Heroes of Pymoli

![Fantasy](Images/Fantasy.png)

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

Your final report should include each of the following:

### Player Count

* Total Number of Players

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

### Age Demographics

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

### Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames.
* You must include a written description of three observable trends based on the data.
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.


### Copyright

Trilogy Education Services Â© 2019. All Rights Reserved.

In [3]:
import os, pandas as pd

INPUT_PATH = "Resources"
INPUT_FILENAME = "purchase_data.csv"

input_path = os.path.join('.', INPUT_PATH, INPUT_FILENAME)
players_df = pd.read_csv(input_path, encoding="ISO-8859-1")
players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count
* Total Number of Players

In [4]:
player_cnt = len(players_df["SN"].unique())
print(f"Player Count: {player_cnt}")

Player Count: 576

# Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [5]:
item_cnt = len(players_df["Item ID"].unique())
print(f"Item Count: {item_cnt}")

avg_price = players_df["Price"].mean()
print(f"Average Purchase Price: ${avg_price:.2f}")

purch_cnt = len(players_df["Purchase ID"].unique())
print(f"Number of Purchase: {purch_cnt}")

total_rev = players_df["Price"].sum()
print(f"Total Revenue: ${total_rev:,.2f}")

Item Count: 183
Average Purchase Price: $3.05
Number of Purchase: 780
Total Revenue: $2,379.77

# Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [6]:
male_cnt = len(players_df.loc[players_df["Gender"]=="Male"])
female_cnt = len(players_df.loc[players_df["Gender"]=="Female"])
null_cnt = len(players_df.loc[players_df["Gender"].isnull() == True])
total_ond = len(players_df.loc[(players_df["Gender"]!="Male")&(players_df["Gender"]!="Female")])
total_cnt = len(players_df)

print(f"Number of males: {male_cnt}, {(male_cnt/total_cnt*100.0):.1f}%")
print(f"Number of females: {female_cnt}, {(female_cnt/total_cnt*100.0):.1f}%")
print(f"Number of nulls: {null_cnt}, {(null_cnt/total_cnt*100.0):.1f}%")
print(f"Number of 'Other/Non-Disclosed': {total_ond}, {(total_ond/total_cnt*100.0):.1f}%")
print(f"Number of Players: {total_cnt}")

Number of males: 652, 83.6%
Number of females: 113, 14.5%
Number of nulls: 0, 0.0%
Number of 'Other/Non-Disclosed': 15, 1.9%
Number of Players: 780

# Purchasing Analysis (Gender)
* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [36]:
# Purchase Count
purchasing_analysis_df = players_df.groupby(["Gender"])
purchase_count = purchasing_analysis_df['Purchase ID'].count()
print(f"Purchase Count: {purchase_count}")
print("")

# Average Purchase Price
avg_price = purchasing_analysis_df["Price"].mean()
print(f"Average Purchase Price: {(avg_price)}")
print("")

# Total Purchase Value
purchase_value = purchasing_analysis_df["Price"].sum()
print(f"Total Purchase Value: {(purchase_value)}")
print("")

# Average Purchase Total per Person by Gender
purchase_total_per_person = purchasing_analysis_df["Price"].sum()/purchasing_analysis_df["SN"].count()
print(f"Average Purchase Total per Person: {(purchase_total_per_person)}")
print("")

# Issue: Average Purchase Total per Person is not correct

# Issue: How to best combine these results into a single DF?

Purchase Count: Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

Average Purchase Price: Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

Total Purchase Value: Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

Average Purchase Total per Person: Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

# Age Demographics
* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

# Top Spenders
* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

# Most Popular Items
* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

# Most Profitable Items
* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value